@import "./variables";

@mixin flexbox($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin font-head(
  $size: 1.25rem,
  $weight: 600,
  $color: $color-dark,
  $family: $ff-primary
) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;
}

@mixin font-body(
  $size: 0.95rem,
  $weight: 400,
  $color: $color-dark,
  $family: $ff-secondary
) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;
}
