@import "./global";
/*=============================================
=            For main dashboard            =
=============================================*/
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &_sidebar {
    width: 18%;
    height: 100vh;
    box-shadow: 1.5px 1.5px 4px #f8f8f8, 1.5px 1.5px 4px #ebebeb;
  }
  &_outlet {
    width: 82%;
    padding: 1.85rem 2.2rem;
  }
}
/*=====  End of For main dashboard  ======*/

/*----------------------------------------------------  LAYOUT --------------------------------------------- ----------------*/

/*=============================================
=            BOX            =
=============================================*/
.layout_box {
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 1.2rem;
  &-title {
    @include font-head(1.2rem, 500);
    margin-bottom: 0.75rem;
  }
  &-content {
    padding: 0.25rem;
  }
}

/*=====  End of BOX  ======*/

/*----------------------------------------------- SHARED  COMPONENTS -------------------------------------------- ----------*/

/*=============================================
=            BUTTON            =
=============================================*/
.main-button {
  border: none;
  border-radius: 13px;
  @include flexbox();
  gap: 1rem;
  padding: 0.75rem 0.95rem;
  cursor: pointer;
  p {
    @include font-body();
    color: $color-dark;
  }
}
.addNew-button {
  cursor: pointer;
  @include flexbox(column, start, center, 1rem);

  p {
    @include font-body(0.85rem, 300);
  }
}

/*=====  End of BUTTON  ======*/

/*=============================================
=            Sidebar Item            =
=============================================*/
.sidebar-item {
  color: $color-grey;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;

  cursor: pointer;
  div {
    width: 24px;
  }
  p {
    @include font-body(0.85rem);
    color: $color-grey;
  }
}
.sidebar-item-active {
  @extend .sidebar-item;
  background-color: $color-primaryLight;
  p {
    color: $color-primary;
  }
}

/*=====  End of Sidebar Item  ======*/

/*=============================================
=            SWITCHER            =
=============================================*/
.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #ebebeb;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #ebebeb;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #cdcdcd;
  border-radius: 11px;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background-color: $color-primary;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

/*=====  End of SWITCHER  ======*/

/*=============================================
=            PROGRESS            =
=============================================*/
.progress_bar-container {
}
.progress_bar {
  background-color: #f1f1f1;
  width: 100%;
  height: 8px;
  border-radius: 13px;
  margin-bottom: 0.5rem;
  &-fill {
    @extend .progress_bar;
    background-color: $color-primary;
  }
  &-info {
    @include flexbox(row, space-between);
    label {
      @include font-body(0.85rem, 300, $color-grey);
    }
    p {
      @include font-head(0.85rem, 400);
    }
  }
}

/*=====  End of PROGRESS  ======*/

/*=============================================
=            Avatar            =
=============================================*/
.avatar {
  @include flexbox(column, start, center, 0rem);
  p {
    @include font-body(0.85rem, 300);
  }
}

/*=====  End of Avatar  ======*/
